* {
	padding:0;
	margin:0;

	
}



h1 {
	font-family: 'Lobster', cursive;
	color: black;
	text-align: center;
	font-size: 125px;

}

h2 {
	font-family: 'Lobster', cursive;
	color:black;
	text-indent: 3em;
	font-size: 50px;
}

p {
	font-size: 30px;
	margin-left: 1em;
	margin-top: 0.5em;
	padding-right: 2em;

}

.myFace {
	height: 150px;
	width: 150px;
	border-radius: 100%;
    display: block;
    margin: 0 auto;
}

#landscape {
	position: absolute;
	top: 0px;
	z-index: -1;
	min-width: 1000px;
	display:block;
	height: 500px;
}



.video {
	margin-left: 11em;
	margin-right:2em;
	margin-top: 2em;
	margin-bottom: 2em;
}

.row {
	height: 150px;
	width:150px;
	display:inline-flex;
}


.resize img {
	height: 50px;
	width: 50px;
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 1em;
    margin: 0 auto;
    
}

footer {
	margin-left: 100px;
}

article {
	
	border-bottom: 1px dotted lightgrey;
	color: #89BDBB;
	text-shadow: 1.7px 1.7px black;
}

/*Title - make it meaningful.
Header element  - This is the main headline; include your name and what this page is.
Photo
Section element containing your bio
Section element with links to resources or sites you like
Section element with two sections for future projects (placeholders)
Section area containing your blog posts. Each of these should use article element.
Footer element with email and professional social media links; Github, twitter, LinkedIn, etc.
Semantic mark-up for all major elements.
Validate your html page with W3 validator: https://validator.w3.org/
Appropriate folder structure: images, css.
Color scheme - choose primary, secondary, and tertiary colors in addition to black and white. Use these colors consistently in your stylesheet.

The page will have a linked JavaScript file for the blog posts section. Create an array to hold your posts (at least 2 posts). Each item in 
the array must be an object that contains at a minimum the following information: Title, Copy, Date. Use JavaScript
 to add each post to the DOM.*/